extends searchLayout

block viewResults
  article(id='displayFood')
    h3= item.name
    div#overview
      section(id='calories')
        h3 Calorie Information
        ul
          li
            dt Total Calories 
            dd #{item.calories.total.value} #{item.calories.total.unit} 
          each macro in item.calories.list
            li 
              dt(class='indent') #{macro.name}
              dd(class='indent') #{macro.value} #{macro.unit}

      section(id='proteinCarbs')
        h3 Protein and Carbohydrates
        ul
          li 
            dt #{item.proteins.total.name}
            dd #{item.proteins.total.value} #{item.proteins.total.unit}
          li
            dt Total Carbohydrates
              dd #{item.carbs.total.value} #{item.carbs.total.unit}
          each carb in item.carbs.list
            li 
              dt(class='indent') #{carb.name}
              dd(class='indent') #{carb.value} #{carb.unit}

      section(id='fats')
        h3 Fats & Fatty Acids
        ul
          li
            dt Total Fat
              dd #{item.fats.total.value} #{item.fats.total.unit}
          each fat in item.fats.list
            li 
              dt(class='indent') #{fat.name}
              dd(class='indent') #{fat.value} #{fat.unit}

    div#vitamins
      section(id='vitamins')
        h3 Vitamins
        ul
          each vitamin in item.vitamins
            li 
              dt #{vitamin.name} 
              dd #{vitamin.value} #{vitamin.unit}

    div#minerals
      section(id='minerals')
        h3 Minerals
        ul
          each mineral in item.minerals
            li 
              dt #{mineral.name} 
              dd #{mineral.value} #{mineral.unit}
