extends searchLayout

block viewResults
  article#displayFood
    h3= item.name
    div#overview
      section(id='calories')
        h3 Calorie Information
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          tr
            td(class='name') Total Calories 
            td(class='value') #{item.calories.total.value} #{item.calories.total.unit}
            td 
          each macro in item.calories.list
            tr 
              td(class='indent name') #{macro.name}
              td(class='value') #{macro.value} #{macro.unit}

      section(id='proteinCarbs')
        h3 Protein and Carbohydrates
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          tr 
            td(class='name') #{item.proteins.total.name}
            td(class='value') #{item.proteins.total.value} #{item.proteins.total.unit}
            td 
          tr
            td(class='name') Total Carbohydrates
            td(class='value') #{item.carbs.total.value} #{item.carbs.total.unit}
            td
          each carb in item.carbs.list
            tr 
              td(class='indent name') #{carb.name}
              td(class='value') #{carb.value} #{carb.unit}

      section(id='fats')
        h3 Fats & Fatty Acids
        table 
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          tr
            td(class='name') Total Fat
            td(class='value') #{item.fats.total.value} #{item.fats.total.unit}
            td
          each fat in item.fats.list
            tr 
              td(class='indent name') #{fat.name}
              td(class='value') #{roundValues(fat.value)} #{fat.unit}

    div#vitamins
      section(id='vitamins')
        h3 Vitamins       
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}        
          each vitamin in item.vitamins
            tr 
              td(class='name') #{vitamin.name} 
              td(class='value') #{roundValues(vitamin.value)}  #{vitamin.unit} 
              td #{getDailyValues(vitamin)}

    div#minerals
      section(id='minerals')
        h3 Minerals       
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          each mineral in item.minerals
            tr 
              td(class='name') #{mineral.name} 
              td(class='value') #{roundValues(mineral.value)} #{mineral.unit} 
              td #{getDailyValues(mineral)}
