extends layout

block mainDisplay
  article#nutrientTable
    h3 Results for 
      i "#{nutrientName}", 100g
    table
      tr
        th Name of Food
        th Value of Nutrient
        th %DV
      each item in items
        tr
          td(class='nutrientName') #{item.name} 
          td(class='nutrientValue') #{Number(item.nutrients[0].value).toFixed(2)} #{item.nutrients[0].unit}
          td(class='nutrientDV') #{getDailyValues(item.nutrients[0])}
