extends ../searchLayout


block content
  article#analysis
    div#overview
      section(id='calories')
        h3 Calorie Information
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          tr
            td(class='name') Total Calories 
            td(class='value') #{item.calories[0].value} #{item.calories[0].unit}
            td          


      section(id='calories')
        h3 Calorie Information
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          tr
            td(class='name') Total Calories 
            td(class='value') #{item.calories[0].value} #{item.calories[0].unit}
            td


      section(id='proteinCarbs')
        h3 Protein and Carbohydrates
        table
          tr
            th(class='name') #{nutrientHeader().name}
            th
            th(class='value') #{nutrientHeader().dailyValues}
          each protein in item.proteins
            tr 
              td(class='indent name') #{protein.name}
              td(class='value') #{protein.value} #{protein.unit}          
          each carb in item.carbs
            tr 
              td(class='indent name') #{carb.name}
              td(class='value') #{carb.value} #{carb.unit}


  //-     section(id='fats')
  //-       h3 Fats & Fatty Acids
  //-       table 
  //-         tr
  //-           th(class='name') #{nutrientHeader().name}
  //-           th
  //-           th(class='value') #{nutrientHeader().dailyValues}
  //-         each fat in item.fats
  //-           tr 
  //-             td(class='indent name') #{fat.name}
  //-             td(class='value') #{roundValues(fat.value)} #{fat.unit}


  //-   div#vitamins
  //-     section(id='vitamins')
  //-       h3 Vitamins       
  //-       table
  //-         tr
  //-           th(class='name') #{nutrientHeader().name}
  //-           th
  //-           th(class='value') #{nutrientHeader().dailyValues}        
  //-         each vitamin in item.vitamins
  //-           tr 
  //-             td(class='name') #{vitamin.name} 
  //-             if(vitamin.unit)
  //-               td(class='value') #{roundValues(vitamin.value)}  #{vitamin.unit} 
  //-               td #{getDailyValues(vitamin)}
  //-             else
  //-               td(class='value') unk
  //-               td ~

  //-   div#minerals
  //-     section(id='minerals')
  //-       h3 Minerals       
  //-       table
  //-         tr
  //-           th(class='name') #{nutrientHeader().name}
  //-           th
  //-           th(class='value') #{nutrientHeader().dailyValues}
  //-         each mineral in item.minerals
  //-           tr 
  //-             td(class='name') #{mineral.name} 
  //-             td(class='value') #{roundValues(mineral.value)} #{mineral.unit} 
  //-             td #{getDailyValues(mineral)}
